<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/Content/img/logo.png" />
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@700&family=Parisienne&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet">
   


    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/SweetAlert2/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top">
                <img class="desktop-logo" src="~/Content/img/Logo2.png" />
                <img class="mobil-logo" src="~/Content/img/mobil-logo.png" />
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-link">
                        <a class="nav-link" href="/Home/Index"><b class="nav-bar-link">Principal</b></a>
                    </li>
                    <li class="nav-link">
                        <a class="nav-link" href="/Home/JoinUs">Involúcrate</a>
                    </li>
                    <li class="nav-link">
                        <a class="nav-link " href="/Home/Growth">Crecimiento</a>
                    </li>
                    <li class="nav-link">
                        <a class="nav-link " href="/Home/Preachings">Predicaciones</a>
                    </li>                    
                    <li class="nav-link">
                        <a class="nav-link " href="/Home/Care">Cuidamos de ti</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="contenedor-index">
        <a name="Inicio"></a>
        <br />
        @RenderBody()
    </div>
    <div class="socialfloat">
        <ul>
            <li>
                <a href="#Inicio" class="casita"><i class="fas fa-home"></i></a>
            </li>
            <li>
                <a href="https://www.facebook.com/IglesiaCasadeDiosInternacional/photos/?ref=page_internal" class="faceboook" target="_blank"><i class="fab fa-facebook"></i></a>
            </li>
            <li>
                <a href="https://www.youtube.com/channel/UCCSh9-l1aenTC3QBB7DLZjg" class="yutu" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
            </li>
            <li>
                <a href="https://wa.link/3mmfz6" class="Wha" target="_blank"><i class="fab fa-whatsapp"></i></a>
            </li>
        </ul>
    </div>
    <footer class="page-footer font-small mdb-color lighten-3 pt-4">
        <!-- Footer Links -->
        <div class="container text-center text-md-left">
            <!-- Grid row -->
            <div class="row">
                <!-- Grid column -->
                
                <hr class="clearfix w-100 d-md-none" />

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">
                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mb-4">Conócenos</h5>

                    <ul class="list-unstyled">
                        <li>
                            <p>
                                <a href="#!">MISIÓN</a>
                            </p>
                        </li>
                        <li>
                            <p>
                                <a href="#!">VISIÓN</a>
                            </p>
                        </li>
                        <li>
                            <p>
                                <a href="#!">INVOLÚCRATE</a>
                            </p>
                        </li>
                        <li>
                            <p>
                                <a href="#!">PREDICACIONES</a>
                            </p>
                        </li>
                    </ul>
                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none" />

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
                    <!-- Contact details -->
                    <h5 class="font-weight-bold text-uppercase mb-4">CONTACTOS</h5>

                    <ul class="list-unstyled">
                        <li>
                            <p><i class="fas fa-home mr-3"></i> Dirección, dirección</p>
                        </li>
                        <li>
                            <p><i class="fas fa-envelope mr-3"></i> correo@example.com</p>
                        </li>
                        <li>
                            <p><i class="fas fa-phone mr-3"></i> + 503 1111-1111</p>
                        </li>
                        <li>
                            <p><i class="fab fa-whatsapp mr-3"></i>   + 503 7210-1734</p>
                        </li>
                    </ul>
                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none" />

                <!-- Grid column -->
                
                <div class="siguenos">
                    <div class="col-md-2 col-lg-2 text-center mx-auto my-4">
                        <!-- Social buttons -->

                        <h5 class="font-weight-bold text-uppercase mb-4">SÍGUENOS</h5>

                        <!-- Facebook -->
                        <a type="button" class="btn-floating btn-fb">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <!-- Twitter -->
                        <a type="button" class="btn-floating btn-tw">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <!-- Google +-->
                        <a type="button" class="btn-floating btn-gplus">
                            <i class="fab fa-google-plus-g"></i>
                        </a>
                        <!-- Dribbble -->
                        <a type="button" class="btn-floating btn-youtube">
                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                        </a>
                    </div>

                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/7a98527200.js" crossorigin="anonymous"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/SweetAlert2/js")
    @RenderSection("scripts", required: false)
</body>
</html>
