@model CDIWebSite.Models.RegistroVM

@{
    ViewBag.Title = "Involúcrate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <style>
        b.nav-bar-link-I {
            color: #FBE05E;
            text-align: right;
        }
    </style>
</head>

@*Diseño Banner*@
<br />
    <center>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/Content/img/INVOLUCRATE (1).png" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
    </center>
<br />

@*Diseño Cards*@
<div>
    <!--   CARDS-->
    <!-- Firt Card-->
    <div class="container-card">
        <div class="card">
            <figure>
                <img src="" />
            </figure>
            <div class="contenido-card">
                <h3>Adoración y alabanzas.</h3>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
            </div>
        </div>

        <!-- Second Card-->
        <div class="card">
            <figure>
                <img src="" />
            </figure>
            <div class="contenido-card">
                <h3>Discipulado.</h3>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
            </div>
        </div>

        <!-- Third Card-->
        <div class="card">
            <figure>
                <img src="" />
            </figure>
            <div class="contenido-card">
                <h3>Familiar.</h3>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
            </div>
        </div>

        <!-- Quarter Card-->
        <div class="card">
            <figure>
                <img src="" />
            </figure>
            <div class="contenido-card">
                <h3>Cárceles.</h3>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
            </div>
        </div>
    </div>
</div>

<div>
    <!--   CARDS-->
    <!-- Firt Card-->
    <div class="container-card">
        <div class="card">
            <figure>
                <img src="" />
            </figure>
            <div class="contenido-card">
                <h3>Hospitales.</h3>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
            </div>
        </div>

        <!-- Second Card-->
        <div class="card">
            <figure>
                <img src="" />
            </figure>
            <div class="contenido-card">
                <h3>Servidores templo.</h3>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
            </div>
        </div>

        <!-- Third Card-->
        <div class="card">
            <figure>
                <img src="" />
            </figure>
            <div class="contenido-card">
                <h3>Escuela Bíblica.</h3>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
            </div>
        </div>

        <!-- Quarter Card-->
        <div class="card">
            <figure>
                <img src="" />
            </figure>
            <div class="contenido-card">
                <h3>Junta directiva.</h3>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
            </div>
        </div>
    </div>
</div>


@*Formulario*@
    @*
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                    <h4>RegistroVM</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Lastname, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Lastname, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Lastname, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.BornDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.BornDate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.BornDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Gender, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>*@
